/* Styling The Whole Document */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&family=Moontime&family=Now:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Styling The Root Node Of The Document */
html {
  scroll-behavior: smooth;
  /* Variables For Using Different RGB Colors All Over The Webpage */
  --primary-clr: #071324;
  --primary-medium-clr: #fff;
  --primary-light-clr: #fff;
  --bg-clr-1: #ffffff;
  --dark-heading-clr: #071324;
  --dark-text-clr: #fff;
  --light-heading-clr: #fff;
  --light-text-clr: #fff;
}
/* End Of Styling The Root Node Of The Document */

/* Allow scrolling but hide scrollbar for "Chrome, Safari, Edge" Strt */
html,
body {
  overflow: auto;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none;
}
/* Allow scrolling but hide scrollbar for "Chrome, Safari, Edge" End */

/* Global CSS Styles Section Starts*/
.go-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.top-button {
  background-color: #0f0845;
  border: none;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.top-button:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}
/* Global CSS Styles Section Ends*/

/* Styling The Body Section  */
body {
  width: 100%;
  min-height: 100vh;
}

button.btn {
  margin-right: 10px;
  padding: 10px 18px;
  background-color: var(--primary-clr);
  color: var(--light-heading-clr);
  font-size: 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

button.btn:hover {
  background-color: var(--light-heading-clr);
  color: var(--primary-clr);
  border: 1px solid var(--primary-clr);
}

/* Header Component Styling Starts */
nav, .navbar .offcanvas-end {
  background: #071324;
}

nav .navbar-brand strong, .navbar .offcanvas-end .offcanvas-title {
  color: #fff;
  font-size: 22px;
  font-family: 'Orbitron', sans-serif;
}

nav .offcanvas-body .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 16px;
  font-family: 'Orbitron', sans-serif;
}

nav .navbar-toggler {
  background: rgb(30, 0, 36);
  background: linear-gradient(90deg, rgb(44, 10, 136) 0%, rgb(83, 3, 99) 100%);
  border: none;
  font-size: 22px;
}

nav .nav-link {
  margin-right: 15px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  position: relative;
  color: #000;
  font-family: 'Orbitron', sans-serif;
}

nav .nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #420d43;
  transition: width 0.3s ease-in-out;
}

nav .nav-link:hover::before {
  width: 100%;
}

nav .nav-link:hover {
  color: #420d43;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
/* Header Component Styling Ends */

/* User-in Component Styling Starts */
.userInfo-container {
  width: 400px;
  margin: 50px auto;
  margin-top: 150px;
  padding: 30px;
  border: none;
  border-radius: 10px;
  background-color: #071324;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.userInfo-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  font-family: 'Orbitron', sans-serif;
}

.userInfo-container label {
  font-size: 18px;
  color: #fff;
  font-family: 'Orbitron', sans-serif;
}

.userInfo-container input {
  width: 100%;
  padding: 10px;
  margin: 0 0 20px 0;
  border: none;
  border-radius: 5px;
}

.userInfo-container button {
  padding: 10px;
  margin-top: 5px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
}

.userInfo-container p {
  text-align: center;
  margin-top: 15px;
  font-size: 18px;
  color: #fff;
  font-family: 'Orbitron', sans-serif;
}

.password-container {
  position: relative;
}

.password-container input {
  width: 100%;
  padding-right: 35px;
}

.password-toggle-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.password-toggle-btn i {
  font-size: 1.2rem;
  color: #000;
}
/* User-in Component Styling Ends */

/* SparkTalk Component Styling Starts */
/* Styles for the chatbot */
.bot-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
}

/* Button to open the chat */
.open-chat-btn {
  background-color: #0f0845;
  box-shadow: 0 5px 15px rgba(18, 5, 63, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Chatbox styles */
.SparkTalk {
  background-color: #fff;
  width: 90%;
  max-height: 400px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  padding: 15px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
}

.SparkTalk header {
  display: flex;
  background-color: #0f0845;
  color: #fff;
  justify-content: space-between;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 30px;
}

.SparkTalk header h2 {
  font-size: 22px;
  margin: 5px;
  font-family: 'Orbitron', sans-serif;
}

/* Close button */
.close-chat-btn {
  background-color: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: #fff;
}

/* Message styles */
.electrochat {
  list-style: none;
  padding: 10px;
  overflow-y: auto;
  max-height: 350px;
  width: 100%;
  margin-bottom: 20px;
}

.message p {
  margin: 20px;
  padding: 10px;
  font-family: 'Orbitron', sans-serif;
  border-radius: 10px;
}

.message.incoming p {
  font-family: 'Orbitron', sans-serif;
  background-color: #f1f1f1;
  font-weight: bold;
  color: #333;
}

.message.outgoing p {
  background-color: #0f0845;
  color: white;
  font-weight: bold;
  overflow: hidden;
}

.bot-input {
  display: flex;
  align-items: center;
}

.bot-input input {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
}

.bot-input #send-btn {
  background-color: #0f0845;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}
/* SparkTalk Component Styling Ends */

/* Homepage Component Styling Starts */
.home-landing {
  width: 100%;
  margin: 0 auto;
  animation: fadeIn 0.8s ease-in-out;
}

section.home {
  position: relative;
  width: 100%;
  background-color: #ececec;
}

@media screen and (max-width:540px) {
  .centerOnMobile {
    text-align: center
  }
}

.home .CodeCrafters {
  width: 100%;
  padding: 100px 8% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.home .CodeCrafters .CodeCrafters-desc {
  position: relative;
  flex-basis: 50%;
  max-width: 700px;
  z-index: 2;
}

section h2 {
  color: var(--light-heading-clr);
  font-family: 'Orbitron', sans-serif;
}

.CodeCrafters .CodeCrafters-desc h2 {
  font-size: 48px;
  color: #7170d7;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.4;
  margin-bottom: 10px;
  font-family: 'Orbitron', sans-serif;
}

.CodeCrafters .CodeCrafters-desc p {
  color: #000;
  line-height: 1.4;
  margin-bottom: 50px;
}

.home .CodeCrafters .CodeCrafters-img {
  position: relative;
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

.CodeCrafters-img .CodeCrafters-img-container {
  position: relative;
  width: 400px;
  z-index: 2;
}

.CodeCrafters-img .CodeCrafters-img-container img {
  width: 100%;
  height: auto;
}

.CodeCrafters .box div {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 3px solid rgba(9, 5, 70, 0.5);
  border-radius: 50%;
}

.CodeCrafters .box div:nth-child(1) {
  top: 12%;
  left: 42%;
  animation: animate 10s linear infinite;
}

.CodeCrafters .box div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}

.CodeCrafters .box div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
}

.CodeCrafters .box div:nth-child(4) {
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;
}

.CodeCrafters .box div:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}

.CodeCrafters .box div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}

.CodeCrafters .box div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}

.CodeCrafters .box div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
}

.CodeCrafters .box div:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}

.CodeCrafters .box div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }

  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}

/* Features Section Styling Starts */
.section-header h1 {
  position: relative;
  font-size: 32px;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 1px;
  color: var(--dark-heading-clr);
  margin-bottom: 20px;
}

.section-header h1::before {
  position: absolute;
  content: '';
  width: 100px;
  height: 1px;
  left: 0;
  top: calc(100% + 5px);
  background-color: var(--dark-text-clr);
}

.section-header h1::after {
  position: absolute;
  content: '';
  width: 50px;
  height: 3px;
  left: 0;
  top: calc(100% + 4px);
  background-color: var(--primary-clr);
}

.section-header p {
  color: var(--dark-text-clr);
  margin-bottom: 40px;
  max-width: 700px;
}

section.features {
  width: 100%;
  padding: 100px 8% 20px;
  background: rgb(30, 0, 36);
  background: linear-gradient(90deg, rgb(15, 4, 45) 0%, rgb(44, 1, 53) 100%);
}

.features .section-header h1 {
  color: var(--light-heading-clr);
}

.features .features-contents {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features-contents .features-box {
  flex-basis: calc(calc(100% / 3) - 2%);
  padding: 25px 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.features-contents .features-box:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}

.features-box .features-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--primary-clr);
  outline: 1px solid var(--primary-medium-clr);
  outline-offset: 10px;
}

.features-box .features-icon i {
  font-size: 24px;
  color: var(--light-heading-clr);
}

.features-box .features-desc {
  margin-top: 25px;
}

.features-box .features-desc h2 {
  margin-bottom: 10px;
  color: var(--primary-light-clr);
  font-size: 22px;
}

.features-box .features-desc p {
  line-height: 1.4;
  color: var(--dark-text-clr);
}

.features-box:nth-child(1) .features-icon {
  background-color: #fef0ef;
  outline-color: #fef0ef;
}

.features-box:nth-child(1) .features-icon i {
  color: #f76250;
}

.features-box:nth-child(2) .features-icon {
  background-color: #e8f9ef;
  outline-color: #e8f9ef;
}

.features-box:nth-child(2) .features-icon i {
  color: #2f9355;
}

.features-box:nth-child(3) .features-icon {
  background-color: #f1f0fe;
  outline-color: #f1f0fe;
}

.features-box:nth-child(3) .features-icon i {
  color: #5a49f3;
}
/* Features Section Styling Ends */
/* Homepage Component Styling Ends */

/* Achievments/Programs Component Styling Starts */
section.cards-lg-containers {
  width: 100%;
  padding: 100px 8% 0;
}

.cards-lg-containers .section-header {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.cards-lg-containers .section-header .header-text h1{
  color: #7170d7;
  font-weight: bold;
}

.cards-lg-containers .section-header .cards-lg-containers-btn {
  position: absolute;
  right: 0;
  bottom: 40px;
  padding: 10px 26px;
}

.cards-lg-containers .cards-lg-containers-contents {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards-lg-containers .cards-lg-containers-contents .cards-lg-containers-card {
  flex-basis: calc(calc(100% / 3) - 1.2%);
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.cards-lg-containers .cards-lg-containers-contents .cards-lg-containers-card:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

.card:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.795);
}

.cards-lg-containers-contents .cards-lg-containers-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.cards-lg-containers-contents .cards-lg-containers-card .category {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.cards-lg-containers-card .category img {
  position: absolute;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  right: 15px;
  top: -50%;
  outline: 1px solid var(--primary-clr);
  outline-offset: 3px;
}

.cards-lg-containers-card .category .subject {
  padding: 8px 10px;
  background-color: var(--primary-light-clr);
  border-radius: 5px;
}

.cards-lg-containers-card .category .subject h3 {
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-clr);
}

.cards-lg-containers-card .course-title {
  font-size: 20px;
  color: var(--dark-heading-clr);
}

.cards-lg-containers-card .course-desc {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
}

.modal .modal-dialog .modal-content .modal-header {
  display: flex;
  justify-content: space-between;
}
/* Achievments/Programs Components Styling Ends */

/* Feedback Area Styling Starts */
#feedback-form-wrapper #floating-icon>button {
  position: fixed;
  right: 0;
  top: 50%;
  transform: rotate(-90deg) translate(50%, -50%);
  transform-origin: right;
}

#feedback-form-wrapper .rating-input-wrapper input[type="radio"] {
  display: none;
}

#feedback-form-wrapper .rating-input-wrapper input[type="radio"]~span {
  cursor: pointer;
}

#feedback-form-wrapper .rating-input-wrapper input[type="radio"]:checked~span {
  background-color: #071324;
  color: #fff;
}

#feedback-form-wrapper .rating-labels>label {
  font-size: 14px;
  color: #000;
}
/* Feedback Area Component Ends */

/* Community Component Styling Starts */
#community {
  width: 100%;
  margin: 50px auto;
  margin-top: 150px;
  padding: 30px;
  border: none;
  border-radius: 10px;
  background-color: #071324;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

@media(max-width: 768px) {
  #community {
    width: 90%;
  }
}

#community h2 {
  color: var(--light-heading-clr);
  font-family: 'Orbitron', sans-serif;
}

#community form button {
  background-color: #0f0845;
}

#community .card .card-body p,
#community .card .card-body h5,
#community .card .card-body ul li {
  color: #000000;
}
/* Community Component Styling Ends */

/* Workspace Component Styling Starts */
#workspace {
  width: 100%;
  margin: 50px auto;
  margin-top: 150px;
  padding: 30px;
  border: none;
  border-radius: 10px;
  background-color: #071324;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

@media(max-width: 768px) {
  #workspace {
    width: 350px;
  }
}

#workspace h2 {
  color: var(--light-heading-clr);
  font-family: 'Orbitron', sans-serif;
}

#workspace form button {
  background-color: #0f0845;
}

#comments h4 {
  color: var(--light-heading-clr);
  font-family: 'Orbitron', sans-serif;
} 
#comments li {
  color: var(--light-heading-clr);
} 

#workspace .btn {
  background-color: #0f0845;
  color: #fff;
}
/* Workspace Component Styling Ends */

/* Profile Component Styling Starts */
.user-profile h4, .user-profile h5 {
  font-family: 'Orbitron', sans-serif;
}
/* Profile Component Styling Starts */

/* Footer Component Styling Starts */
footer {
  background-color: #071324;
}

footer h5 {
  font-family: 'Orbitron', sans-serif;
}

footer .links a{
  text-decoration: none;
}
/* Footer Component Styling Ends */

/* Keyframes for Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Media Query Styling For The Variation Of Screens Starts */
@media(max-width: 968px) {

  /* Home Section */
  .home .CodeCrafters {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .home .CodeCrafters .CodeCrafters-desc,
  .home .CodeCrafters .CodeCrafters-img {
    flex-basis: 100%;
  }

  .home .CodeCrafters .CodeCrafters-img {
    align-self: center;
    margin-bottom: 50px;
  }

  .sectionPart2 {
    width: 100%;
    min-height: 100vh;
    padding: 100px 8% 70px;
  }

  /* Features Section */
  .features-contents .features-box {
    flex-basis: calc(calc(100% / 2) - 2%);
  }

  .features-contents .features-box:not(:last-child) {
    margin-bottom: 20px;
  }

  /* cards-lg-containers Section */
  .cards-lg-containers .cards-lg-containers-contents .cards-lg-containers-card {
    flex-basis: calc(calc(100% / 2) - 1.2%);
  }

  .cards-lg-containers .section-header {
    flex-direction: column;
  }

  .cards-lg-containers .section-header .cards-lg-containers-btn {
    position: relative;
    align-self: flex-start;
    margin-top: 20px;
  }
}

@media(max-width: 768px) {
  .sectionPart2 {
    background: #000;
    width: 100%;
    min-height: 100vh;
    padding: 100px 8% 70px;
  }

  .CodeCrafters .CodeCrafters-desc h2 {
    font-size: 42px;
  }
}

@media(max-width: 668px) {

  /* Features Section */
  .features-contents .features-box {
    flex-basis: 100%;
  }

  /* cards-lg-containers Section */
  .cards-lg-containers .cards-lg-containers-contents .cards-lg-containers-card {
    flex-basis: 100%;
  }

  .userInfo-container {
    width: 300px;
    margin: 50px auto;
    margin-top: 150px;
    padding: 30px;
    border: none;
    border-radius: 10px;
    background-color: #071324;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  #workspace {
    width: 320px;
    margin: 50px auto;
    margin-top: 150px;
    padding: 30px;
    border: none;
    border-radius: 10px;
    background-color: #071324;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
}

@media(max-width: 576px) {
  section.Comments {
    margin: 50px;
  }
}

@media(max-width: 468px) {
  .CodeCrafters-img .CodeCrafters-img-container {
    width: 100%;
  }

  .CodeCrafters .CodeCrafters-desc .search-bar {
    width: 100%;
  }

  .CodeCrafters .CodeCrafters-desc h2 {
    font-size: 32px;
  }
}
/* Media Query Ends */
/* Styling Section Ends */